#transformation{
    .author-note{
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    header{
        h2{
            margin-bottom: .25em;
            margin-top: -.5em;
            font-size: 2em;
            line-height: 1.1em;
            font-family: $font-heading;
        }
        h3{
            font-size: 1em;
            margin: 0;
            color: $light-blue;
            font-family: $font-body;
        }
        h4{
            margin-bottom: 1em;
        }
        
    }
}

.too-soon{
    text-align: left;
    background: $light-yellow;
    padding: 1.25em 1.5em;
    position: relative;
    .icon{
        position: absolute;
        font-size: 25px;
        top: -47px;
        left: 50%;
        margin-left: -12px;
    }
    div{
        margin-bottom: 0!important;
    }
    h2{
        text-align: left!important;
        font-size: 1.5em!important;
        margin-bottom: .5em!important;
    }
    border-top: 70px solid $dark-yellow;    
    &.after-midnight{
        background: $light-blue;
    }
}
