<footer id="footer">
  <div class="container">    
    <p>Copyright © 2020 Radically Marginal. All rights reserved.</p>
    <p><strong>Disclaimer:</strong> The fact that we’re selling something halfway akin to life coaching means that you should question our motives. People with the hubris to make a living telling others how to live, in general, shouldn’t be trusted. We reallllllllly think we’re different. But we’re probably not.</p>
    <p><a href="mailto:patrick@radicallymarginal.com">Contact Patrick</a> (because Jeremy is way more likely to be busy)</p>
  </div>
</footer>  

<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
<script>
  window.UnderpolishedChatSettings = {
    id: 1,
    token: 'sQ034aCjacnURvpN',
    we: true
  };			

</script>
<script src="https://api.underpolished.com/js/chatwidget.js" async type="text/javascript"></script>