<footer id="footer">
  <div class="container has-text-centered">
    <p class="has-text-centered">Copyright © 2020 Radically Marginal. All rights reserved.</p>
  </div>
</footer>  

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156440273-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156440273-1');
</script>

<!-- Crisp Chat -->
<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="7d9b3f4f-1a0a-4b77-83c4-8b36efc13625";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>