<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body id="home">
		<div class="wrapper">
            <header class="hero is-fullheight">
                <div class="hero-body">
                    <div class="header-inner">                                
                        <h1><img src="/images/transformation-h1.png"/></h1>
                        <div id="h2-wrapper">
                            <!--<h2>Punch your imperfection in the <span class="explainer has-tooltip-multiline" data-tooltip="Lady dicks and non-gendered dicks included, obviously.">dick</span> and stop being such a snoozefest. A snarky life coaching alternative for ambitious folks who want more out of life... but who vomit at the idea of real life coaching. Woo-woo sold separately.</h2>-->
                            <h2>Punch your imperfection in the teeth and stop being such a snoozefest. A snarky life coaching alternative for ambitious folks who want more out of life... but who vomit at the idea of real life coaching. Woo-woo sold separately.</h2>
                        </div>
                        <img src="/images/path-90.png" id="bg" alt="" style="opacity:0.7"/>
                        <div class="has-text-right">
                            <a href="/transformation" class="button is-uppercase is-medium" type="button">
                                <span>Become Negligibly Better.</span>
                            </a>
                            <p><span class="has-text-white"><small>(for free)</small></span></p>
                        </div>
                    </div>
                    <a href="/#about" class=""><span class="icon"><i class="fas fa-chevron-down fa-lg"></i></span></a>
                </div>
            </header>

            <section class="common-section" id="about">
                <div class="container">
                    <h3>How it Works</h3>
                    <h2>The specifics of how you might become a 1% better human.</h2>
    
                    <div id="curriculum">
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month1.png" alt=""/>
                                </div>
                                <h2>See if you like us.</h2>
                                <p>Take our <a href="/transformation">free 21-day course</a>. Just like all self-help courses, it won’t help you improve in any meaningful way. But it may help you decide whether we’re full of shit or not. The verdict is still out.</p>
                            </div>
                        </div>                    
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month2.png" alt=""/>
                                </div>
                                <h2>Pay us money.</h2>
                                <p>In return for your money, we promise to give you all of the benefits of life coaching (there actually are some), wrapped up in a package that you doesn't make you want to clear your browser history.</p>
                            </div>
                        </div>
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month3.png" alt=""/>
                                </div>
                                <h2>Tear down that wall.</h2>
                                <p>We’re anti woo-woo, but pro emotional vulnerability. We want to help you accept your shortcomings, love your inner self, and all that nonsense. Which sounds weird because we’re two pretty "manly" dudes who like to fart and drink beer and lift weights. But hey, we’re complex. And so are you. Hopefully.</p>
                            </div>
                        </div>
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month4.png" alt=""/>
                                </div>
                                <h2>Stop quitting.</h2>
                                <p>You’re mad talented and have big dreams. Yet you’re an underachiever. Because while the rest of us are grinding it out, you pivot to something shiny and new every time your <span class="explainer has-tooltip" data-tooltip="Imposter Syndrome for the win.">insecurities</span> and boredom surface for a fraction of a second. We’ll help you <span class="explainer has-tooltip-multiline" data-tooltip="Who needs an accountability partner when you can have an accountability threesome!?">cut that shit out</span>.</p>
                            </div>
                        </div>

                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month5.png" alt=""/>
                                </div>
                                <h2>Die.</h2>
                                <p>Some people say that mortality is a blessing because it allows us to be present in this one special life. We say fuck that. Mortality sucks. But it’s true nonetheless. So why not matter to someone instead of spending your days at Bank of America?</p>
                            </div>
                        </div>
                        
                        <div class="section">
                            <div class="has-text-centered">
                                <div class="button-wrapper">
                                    <a href="/transformation" class="button is-uppercase is-medium" type="button">
                                        <span>Okay, what the hell, i'll try it</span>
                                    </a>
                                    <p><small>(start for free)</small></p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>

            <section id="about-the-authors" class="common-section blue-section">
                <div class="container">
                    <h3>Your <del>Fearless</del> Impressively Narcissistic Leaders</h3>
                    <h2>Hello. We’re Jeremy and Patrick. We (barely) help people lean into their feelings, accept who they are, and discover who they want to become.</h2>
                    <h4>&nbsp;</h4>
                    <div class="container">
                        <div class="columns box is-mobile">
                            <div class="column is-3">
                                <figure class="image"><img src="/images/jeremy-is-a-stick.png" class="is-padded"></figure>
                            </div>
                            <div class="column is-9">
                                <p>I’m Jeremy Smith. I have a family and I live in Austin where I work for a tech company. But if I’m being honest I’m a moral idealist who wants his life to matter. I don’t care if I’m remembered. I just want to matter to those who knew me when I was alive.</p>
                            </div>
                        </div>
                        <div class="columns box is-mobile">
                            <div class="column is-3">
                                <figure class="image"><img src="/images/patrick-is-a-stick.png" class="is-padded"></figure>
                            </div>
                            <div class="column is-9">
                                <p>I’m Patrick Lorenzut. One time I had a wife, a condo, an absurd tech job, and six figures in my savings account. Now I’m divorced, relatively broke, renting a bedroom in Portland... and quite possibly the most smiley human on the face of the planet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="common-section" id="for-sale">
                <div class="container">
                    <h3>The Things for Sale</h3>
                    <h2>Choose your package.</h2>
                    <h4>Hah, they said "package".</h4>
                    <div class="columns">
                        <a class="column box" href="https://app.superpayit.com/payment-link/initiate/ki1N9Jk/" target="_blank">
                            <h3>The Midlife Crisis</h3>
                            <h4><strong>$400</strong> for 1 month</h4>
                            <span class="tag is-warning">non-recurring</span>
                            <p>Best for people looking to dramatically shake things up.</p>
                            <ul class="list">
                                <li class="list-item"><span class="explainer has-tooltip-multiline" data-tooltip="This means not automated. It’s an old-fashioned form of communication that used to be quite a lot of fun.">Personal</span> daily check in.</li>
                                <li class="list-item">Unlimited text, voice, and video messages.</li>
                                <li class="list-item">Two 60-minute video calls.</li>
                                <li class="list-item">Special favors.</li>
                                <li class="list-item">Bad jokes.</li>
                            </ul>                            
                            <span class="button is-danger">buy this</span>
                        </a>
                        <a class="column box" href="https://app.superpayit.com/payment-link/initiate/lGrTnNk/" target="_blank">
                            <h3>The Concerned Friend</h3>
                            <h4><strong>$100</strong> for 1 month</h4>
                            <span class="tag is-warning">non-recurring</span>
                            <p>Best for people who know what they want, and want some help getting it.</p>
                            <ul class="list">
                                <li class="list-item"><span class="explainer has-tooltip-multiline" data-tooltip="This means not automated. It’s an old-fashioned form of communication that used to be quite a lot of fun.">Personal</span> daily check in.</li>
                                <li class="list-item">Up to 2 hours of text, voice, and video messages.</li>
                                <li class="list-item">Bad jokes.</li>
                            </ul>    
                            <span class="button is-danger">buy this</span>                        
                        </a>
                        <a class="column box" href="/transformation">
                            <h3>The Distrust</h3>
                            <h4>free</h4>
                            <p>Best for people who don’t like giving money to complete stranges on the internet. Yours for free if you still have enough attention span to read things.</p>
                            <span class="button is-danger">read this</span>
                        </a>                        
                    </div>
                    <div class="details">
                        <p>All payments are non-recurring. That means you will NOT be charged again and again every month... unless you manually choose to do so. Which would be lovely!</p>
                        <p>We’ll reach out to you within 72 hours of your purchase. Probably way sooner... but Patrick is hiking in Patagonia at the moment and Jeremy is really bad at these things. Don’t worry, your month doesn’t start until we start talking.</p>
                        
                    </div>
                </div>
            </section> 
            
            <div class="container">
                <article>
                    {{ content }}
                </article>
            </div>
        </div>
	</body>
	
    {% include footer.html %}
    
    <script type="text/javascript">
        function toggle(){
            event.target.parentElement.classList.toggle('is-open')
        }
    </script>

</html>

