<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body id="home">
		<div class="wrapper">
            <header class="hero is-fullheight">
                <div class="hero-body">
                    <div class="header-inner">                                
                        <h1><img src="/images/transformation-h1.png"/></h1>
                        <div id="h2-wrapper">
                            <h2>Punch your imperfection in the <span class="explainer has-tooltip-multiline" data-tooltip="Lady dicks and non-gendered dicks included, obviously.">dick</span>. A snarky life coaching alternative for ambitious folks who want more out of life... but who vomit at the idea of real life coaching. Woo-woo sold separately.</h2>
                        </div>
                        <img src="/images/path-90.png" id="bg" alt="" style="opacity:0.7"/>
                        <div class="has-text-right">
                            <a href="/transformation" class="button is-uppercase is-medium" type="button">
                                <span>Become Negligibly Better.</span>
                            </a>
                            <p><span class="has-text-white"><small>(for free)</small></span></p>
                        </div>
                    </div>
                    <a href="/#about" class=""><span class="icon"><i class="fas fa-chevron-down fa-lg"></i></span></a>
                </div>
            </header>

            <section class="common-section" id="about">
                <div class="container">
                    <h3>How it Works</h3>
                    <h2>The specifics of how you might become a 1% better human.</h2>
    
                    <div id="curriculum">
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month1.png" alt=""/>
                                </div>
                                <h2>Pay us $1 to temporarily feel worse about yourself.</h2>
                                <p>Take our 30 day course which will make you feel like a <b-tooltip label="This is called introspection. It’s fun." type="is-link" ><span class="explainer">huge piece of shit</span></b-tooltip> while simultaneously making you unspeakably hopeful for your future.</p>
                            </div>
                        </div>                    
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month2.png" alt=""/>
                                </div>
                                <h2>Put up with our antics.</h2>
                                <p>Endure an obnoxious amount of <b-tooltip label="AKA not automated. This was a common form of communication in ancient times, and is purported to have emotional benefits." type="is-link" multilined><span class="explainer">personal</span></b-tooltip> attention from the two of us. You might be inclined to call this part life coaching. But please don’t. Because that would be pretentious, and you’re too cool for that.</p>
                            </div>
                        </div>
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month3.png" alt=""/>
                                </div>
                                <h2>Bask in the wonder of your improved self.</h2>
                                <p>This step lasts for 1-3 hours. Enjoy it. And then get ready to tackle the next existential crisis.</p>
                            </div>
                        </div>
                        <div class="month">
                            <div class="month-wrapper">
                                <div class="number-wrapper">
                                    <img src="/images/transformation/month4.png" alt=""/>
                                </div>
                                <h2>Pay $100/mo to continue. Or Don’t.</h2>
                                <p>Paying for an unknown course from a couple of schmucks on the internet is almost always a horrible idea. That’s why we discount the first month by 99%. So we can hook you in and woo you with our incredible charm. (Your card will NOT be automatically charged.)</p>
                            </div>
                        </div>
                        
                        <div class="section">
                            <div class="has-text-centered">
                                <div class="button-wrapper">
                                    <b-button tag="nuxt-link" :to="$store.getters.latestDay" type="is-medium" class="is-uppercase">Okay, what the hell, i'll try it</b-button>
                                    <p><small>(start for free)</small></p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>

            <section class="common-section blue-section" id="about-the-authors">
                <div class="container">
                    <h3>Your <del>Fearless</del> Impressively Narcissistic Leaders</h3>
                    <h2>Hello. We’re <nuxt-link to="/humans/jeremy">Jeremy</nuxt-link> and <a href="https://lorenzut.com">Patrick</a>. We (barely) help people lean into their feelings, accept who they are, and discover who they want to become.</h2>
                    <h4>We’re two dudes who despise the internet. But we’re here anyway to serve your needs. And also to make money.</h4>
                    <div  class="container">
                        <nuxt-link class="columns box is-mobile" to="/humans/jeremy">
                            <div class="column is-3">
                                <figure class="image">
                                    <img class="is-padded" src="/images/jeremy-is-a-stick.png"/>
                                </figure>
                            </div>
                            <div class="column is-9">
                            <p>I’m Jeremy Smith. I have a family and I live in Austin where I work for a tech company. But if I’m being honest I’m a moral idealist who wants his life to matter. I don’t care if I’m remembered. I just want to matter to those who knew me when I was alive. <strong>Read about how great I am.</strong></p>
                            </div>
                        </nuxt-link>
                        <a class="columns box is-mobile" href="https://lorenzut.com">
                            <div class="column is-3">
                                <figure class="image">
                                    <img class="is-padded" src="/images/patrick-is-a-stick.png"/>
                                </figure>
                            </div>
                            <div class="column is-9">
                                <p>I’m Patrick Lorenzut. One time I had a wife, a condo, an absurd tech job, and six figures in my savings account. Now I’m divorced, relatively broke, renting a bedroom in Portland... and quite possibly the most smiley human on the face of the planet. <strong>Get blown away by my amazingness.</strong></p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="common-section">
                <div class="container">
                    <h3>FAQ</h3>
                    <h2>Additional info that might make it less scary for you to give us money.</h2>
                    <h4>&nbsp;</h4>
                    <article>
                        <div class="faq-item" onclick="toggle()">
                            <h3>What’s your beef with life coaching?</h3>
                            <div>
                                <p>Life coaching as a stereotype sort of blows. It’s like this submissive act of not taking accountability for yourself. For people who want to outsource the fixing of their life to some know-it-all who is really good at pretending to have an awesome life. We know that’s excessively harsh but that’s what most people want. They don’t want to do the work and figure themselves out so they want someone to tell them to eat broccoli and that they are going to be ok.</p>
    
                                <p>And this is NOT that. It's a life coaching alternative for people who would never consider paying for a life coach. Snarky, self-mocking, and simultaneously helpful. And for 10% of the price. It’s the story of Arjuna. It’s life wrapped up in a witty modern packaging that will resonate. And hopefully lead to some realization and purpose. But self led for the most part.</p>
                            </div>
                        </div>
                        
                        <div class="faq-item" onclick="toggle()">
                            <h3>Who’s it for?</h3>
                            <div>                        
                                <p>It’s for spoiled people with luxurious problems. People like us who don’t worry about food, water, or shelter, and therefore have the unique privilege of wallowing in questions about who we are, what our purpose is, how to change the world, if we’re good enough, how to make friends, if we’re really in love, how to lose the last 5 lbs, what we should do this winter, etc.</p>
                                <p>It’s for self-doubters who want to change the world. People who are mega-bored and mega-unfulfilled with the American Prescription, but get crippled by Imposter’s Syndrome every time they try to do anything differently. People who realize that they’ll only ever be happy if they’re doing something that helps other people, and people who have big dreams and big ideas for how to do that... but who feel exposed and scared and unworthy and incapable the minute they starting taking action on those big ideas.</p>
                                <p>It’s for romantics with shiny object syndrome. People with an all-or-nothing personality who get soooo caught up in their latest adventure that they forget about all of the other wonderful things going on in their life, often abandonding previous projects and shortchanging friendships in the process. Then inevitably the excitement wanes and they go all-in on yet another new, shiny project, repeating the process.</p>
                                <p>It’s for creatives who are afraid of being pretentious. For people who are impossibly petrified of answering the "what do you do" question with "author" or "artist" or "life coach" or whatever it is that you WANT to do that makes you feel like a giant poser.</p>
                                <p>It’s for bold people who struggle with tiny decisions. People with the courage to move across the country, or travel to "exotic" places, or quit their 9-5 jobs, but at the same time who get stuck for 3 days deciding on a color scheme for their website, or the proper wording for a chapter title.</p>
                                <p>It’s for people who bite off more than they can chew. Or more accurately, for people who like to take big bites but then get bored of chewing. People who like the IDEA of doing big things more than they like the PROCESS of doing big things.</p>
                                <p>It's for perfectionists who realize that perfectionism is the problem. People who are starting to realize that the only diet that will ever work is an imperfect one that you’ll stick with. That the only way you’ll ever launch something is to be okay launching something imperfect.</p>
                            </div>
                        </div>
                        
    
                        <div class="faq-item" onclick="toggle()">
                            <h3>Do you do any weird stuff with my credit card?</h3>
                            <div>
                                <p>Nah. All payments are handled with Stripe, and we don’t store anything except for the last 4 digits of your card number for your own reference. And we’ll even delete those if you so choose.</p>
                                <p>We also NEVER use recurring payments. Because fuck that. If you want to make another payment in the future... you should! We’ll try our very best to tempt you into doing so. But you’ll have to do it manually.</p>
                            </div>
                        </div>
    
                        <div class="faq-item" onclick="toggle()">
                            <h3>Is there a free version?</h3>
                            <div>
                                <p>Nope.</p>
                                <p>You may be whining to yourself: But why not? What if I don’t want the human interaction? What if I don’t want the personalized coaching alternative? What if I just want to read the courses?</p>
                                <p>And the truth is that of course we <em>could</em> give you the courses for free. They’re already written, after all, and it wouldn’t cost us a cent to give them to you. But it’s way more transformative if we bust your balls while you take the courses (lady balls and gender-nonconforming balls included), and we can't afford to bust balls for free.</p>
                            </div>
                        </div>                    
    
                        <div class="faq-item" onclick="toggle()">
                            <h3>Anything else I should know?</h3>
                            <div>
                                <p>Yes. A disclaimer:</p>
    
                                <p>1. We’re not special. We’re just a couple of dudes who have undergone an absurd amount of introspection and change in our lives, and who may be able to help you <del>ruin</del> change your own life just as deeply as we've changed our own. But if you're looking for an industry-expert coach who can help you 10x your sales funnel... we're not your guys (and also we probably can't be friends).</p>
                                <p>2. We can’t change you. And we’re not going to try. Perhaps sadly, paying us money is not some submissive act of not taking accountability for yourself. You’re going to have to do the work. And even if you could outsource the fixing of your life… we would super strongly recommend you outsource it to people more mentally stable than ourselves.</p>
                                <p>3. Being a good person is hard. If happiness is your only goal, see if you can find one of those <em>Men In Black</em> flashy mind-eraser things, wipe every introspective thought you’ve ever had, and go work at Bank of America or something. Once you start breaking down your walls… well it’s 100% worth the reward, but quite frankly it sucks sometimes.</p>
                                <p>4. The fact that we’re selling something halfway akin to life coaching means that you should question our motives. People with the hubris to make a living telling others how to live, in general, shouldn’t be trusted. We reallllllllly think we’re different. But we’re probably not.</p>
                            </div>
                        </div>                
                    </article>
                </div>
            </section>  

            
            <div class="container">
                <article>
                    {{ content }}
                </article>
            </div>
        </div>
	</body>
	
    {% include footer.html %}
    
    <script type="text/javascript">
        function toggle(){
            event.target.parentElement.classList.toggle('is-open')
        }
    </script>

</html>

